.hljs {
  background: #273553;
  color: #dfe1e6;
}

.hljs::selection,
.hljs *::selection {
  background-color: #45516b;
}

.hljs-comment {
  color: #6c758a;
  font-style: italic;
}

.hljs-selector-tag {
  color: #c196f5;
}

.hljs-string,
.hljs-subst {
  color: #9bee91;
}

.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #f59e6f;
}

.hljs-keyword {
  color: #c196f5;
}
.hljs-function > .hljs-title {
  color: #75A5FF;
}
.hljs-tag {
  color: #abb0bc;
}
.hljs-name {
  color: #f4848a;
}
.hljs-type {
  color: #f59e6f;
}

.hljs-attribute {
  color: #76d5ee;
}

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-link {
  color: #c196f5;
}

.hljs-params {
  color: #dfe1e6;
}


.hljs-meta {
  color: #75A5FF;
}

.hljs-title {
  color: #75A5FF;
}

.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #f7ea75;
}

.hljs-selector-id {
  color: #f9c462;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
